<#@ template inherits="Microsoft.VisualStudio.TextTemplating.VSHost.ModelingTextTransformation" language="VB" #>
<#@ output extension=".txt" #>
<#@ GEB_NGN_PCR_Practica1 processor="GEB_NGN_PCR_Practica1DirectiveProcessor" requires="fileName='Sample.GEB_NGN_PCR_prototools'" #>

Generated material. Generating code in VB.


<#
  Rem When you change the DSL Definition, some of the code below may not work.

  For Each element As ExampleElement In Me.ExampleModel.Elements
#>
	<#= element.Name #>
<#    
  Next
#>
