<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("d86d3f2e-07c7-4bb2-8735-6bf9ada3fc90");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
